In [2]:
import pandas as pd
from datetime import datetime
import os

In [3]:
fpath = "GBPUSD_2018.csv"
df = pd.read_csv(fpath)

In [4]:
df.columns = ["date", "time", "val", "B", "C", "D", "E"]
df = df.drop(columns=['B', 'C', 'D', 'E'])

In [5]:
df.columns

Index([u'date', u'time', u'val'], dtype='object')

In [6]:
df['datetime'] = df["date"].map(str) + " " + df["time"] # create datetime column

In [9]:
df["datetime"] = pd.to_datetime(df["datetime"])
df["date"] = pd.to_datetime(df["date"]) # datetime-ify 'date time' column

In [10]:
df = df.set_index('datetime')

df[COL][INDEX]

In [11]:
df['date']['2018.01.01 17:02']

Timestamp('2018-01-01 00:00:00')

In [13]:
df = df[['date', 'time', 'val']]
df = df.drop(columns=['time'])

In [14]:
df

                          date      val
datetime
2018-01-01 17:02:00 2018-01-01  1.35019
2018-01-01 17:03:00 2018-01-01  1.35020
2018-01-01 17:05:00 2018-01-01  1.35012
2018-01-01 17:06:00 2018-01-01  1.35013
2018-01-01 17:07:00 2018-01-01  1.35084
2018-01-01 17:08:00 2018-01-01  1.35092
2018-01-01 17:09:00 2018-01-01  1.35084
2018-01-01 17:10:00 2018-01-01  1.35085
2018-01-01 17:11:00 2018-01-01  1.35084
2018-01-01 17:12:00 2018-01-01  1.35071
2018-01-01 17:14:00 2018-01-01  1.35062
2018-01-01 17:15:00 2018-01-01  1.35115
2018-01-01 17:16:00 2018-01-01  1.35085
2018-01-01 17:18:00 2018-01-01  1.35109
2018-01-01 17:19:00 2018-01-01  1.35087
2018-01-01 17:21:00 2018-01-01  1.35109
2018-01-01 17:22:00 2018-01-01  1.35084
2018-01-01 17:23:00 2018-01-01  1.35087
2018-01-01 17:24:00 2018-01-01  1.35085
2018-01-01 17:25:00 2018-01-01  1.35078
2018-01-01 17:26:00 2018-01-01  1.35085
2018-01-01 17:27:00 2018-01-01  1.35086
2018-01-01 17:30:00 2018-01-01  1.35095
2018-01-01 17:31:00 2018-01-01  1.35097
2018-01-01 17:32:00 2018-01-01  1.35064
2018-01-01 17:33:00 2018-01-01  1.35084
2018-01-01 17:36:00 2018-01-01  1.35101
2018-01-01 17:38:00 2018-01-01  1.35064
2018-01-01 17:39:00 2018-01-01  1.35064
2018-01-01 17:40:00 2018-01-01  1.35094
...                        ...      ...
2018-12-31 16:29:00 2018-12-31  1.27511
2018-12-31 16:30:00 2018-12-31  1.27513
2018-12-31 16:31:00 2018-12-31  1.27520
2018-12-31 16:32:00 2018-12-31  1.27499
2018-12-31 16:33:00 2018-12-31  1.27501
2018-12-31 16:34:00 2018-12-31  1.27503
2018-12-31 16:35:00 2018-12-31  1.27527
2018-12-31 16:36:00 2018-12-31  1.27554
2018-12-31 16:37:00 2018-12-31  1.27550
2018-12-31 16:38:00 2018-12-31  1.27583
2018-12-31 16:39:00 2018-12-31  1.27578
2018-12-31 16:40:00 2018-12-31  1.27571
2018-12-31 16:41:00 2018-12-31  1.27573
2018-12-31 16:42:00 2018-12-31  1.27583
2018-12-31 16:43:00 2018-12-31  1.27582
2018-12-31 16:44:00 2018-12-31  1.27562
2018-12-31 16:45:00 2018-12-31  1.27558
2018-12-31 16:46:00 2018-12-31  1.27553
2018-12-31 16:47:00 2018-12-31  1.27561
2018-12-31 16:48:00 2018-12-31  1.27542
2018-12-31 16:49:00 2018-12-31  1.27525
2018-12-31 16:50:00 2018-12-31  1.27521
2018-12-31 16:51:00 2018-12-31  1.27483
2018-12-31 16:52:00 2018-12-31  1.27483
2018-12-31 16:53:00 2018-12-31  1.27456
2018-12-31 16:54:00 2018-12-31  1.27460
2018-12-31 16:55:00 2018-12-31  1.27456
2018-12-31 16:56:00 2018-12-31  1.27450
2018-12-31 16:57:00 2018-12-31  1.27474
2018-12-31 16:58:00 2018-12-31  1.27469

[372260 rows x 2 columns]

In [18]:
mdf = df.between_time('10:30', '11:02')
mdf

                          date      val
datetime
2018-01-02 10:30:00 2018-01-02  1.35494
2018-01-02 10:31:00 2018-01-02  1.35473
2018-01-02 10:32:00 2018-01-02  1.35473
2018-01-02 10:33:00 2018-01-02  1.35465
2018-01-02 10:34:00 2018-01-02  1.35465
2018-01-02 10:35:00 2018-01-02  1.35473
2018-01-02 10:36:00 2018-01-02  1.35508
2018-01-02 10:37:00 2018-01-02  1.35519
2018-01-02 10:38:00 2018-01-02  1.35535
2018-01-02 10:39:00 2018-01-02  1.35561
2018-01-02 10:40:00 2018-01-02  1.35576
2018-01-02 10:41:00 2018-01-02  1.35598
2018-01-02 10:42:00 2018-01-02  1.35598
2018-01-02 10:43:00 2018-01-02  1.35563
2018-01-02 10:44:00 2018-01-02  1.35576
2018-01-02 10:45:00 2018-01-02  1.35583
2018-01-02 10:46:00 2018-01-02  1.35623
2018-01-02 10:47:00 2018-01-02  1.35641
2018-01-02 10:48:00 2018-01-02  1.35621
2018-01-02 10:49:00 2018-01-02  1.35616
2018-01-02 10:50:00 2018-01-02  1.35603
2018-01-02 10:51:00 2018-01-02  1.35622
2018-01-02 10:52:00 2018-01-02  1.35643
2018-01-02 10:53:00 2018-01-02  1.35646
2018-01-02 10:54:00 2018-01-02  1.35658
2018-01-02 10:55:00 2018-01-02  1.35695
2018-01-02 10:56:00 2018-01-02  1.35702
2018-01-02 10:57:00 2018-01-02  1.35733
2018-01-02 10:58:00 2018-01-02  1.35774
2018-01-02 10:59:00 2018-01-02  1.35809
...                        ...      ...
2018-12-31 10:33:00 2018-12-31  1.28102
2018-12-31 10:34:00 2018-12-31  1.28061
2018-12-31 10:35:00 2018-12-31  1.28056
2018-12-31 10:36:00 2018-12-31  1.28036
2018-12-31 10:37:00 2018-12-31  1.27908
2018-12-31 10:38:00 2018-12-31  1.27805
2018-12-31 10:39:00 2018-12-31  1.27847
2018-12-31 10:40:00 2018-12-31  1.27855
2018-12-31 10:41:00 2018-12-31  1.27861
2018-12-31 10:42:00 2018-12-31  1.27881
2018-12-31 10:43:00 2018-12-31  1.27841
2018-12-31 10:44:00 2018-12-31  1.27808
2018-12-31 10:45:00 2018-12-31  1.27862
2018-12-31 10:46:00 2018-12-31  1.27882
2018-12-31 10:47:00 2018-12-31  1.27867
2018-12-31 10:48:00 2018-12-31  1.27854
2018-12-31 10:49:00 2018-12-31  1.27817
2018-12-31 10:50:00 2018-12-31  1.27813
2018-12-31 10:51:00 2018-12-31  1.27824
2018-12-31 10:52:00 2018-12-31  1.27826
2018-12-31 10:53:00 2018-12-31  1.27862
2018-12-31 10:54:00 2018-12-31  1.27927
2018-12-31 10:55:00 2018-12-31  1.27773
2018-12-31 10:56:00 2018-12-31  1.27668
2018-12-31 10:57:00 2018-12-31  1.27627
2018-12-31 10:58:00 2018-12-31  1.27435
2018-12-31 10:59:00 2018-12-31  1.27450
2018-12-31 11:00:00 2018-12-31  1.27376
2018-12-31 11:01:00 2018-12-31  1.27212
2018-12-31 11:02:00 2018-12-31  1.27327

[8547 rows x 2 columns]

In [15]:
df_1030 = df.between_time('10:30', '10:30')
df_1045 = df.between_time('10:45', '10:45')

In [28]:
for index, row in df_1030.iterrows():
    print(index)

2018-01-02 10:30:00
2018-01-03 10:30:00
2018-01-04 10:30:00
2018-01-05 10:30:00
2018-01-08 10:30:00
2018-01-09 10:30:00
2018-01-10 10:30:00
2018-01-11 10:30:00
2018-01-12 10:30:00
2018-01-15 10:30:00
2018-01-16 10:30:00
2018-01-17 10:30:00
2018-01-18 10:30:00
2018-01-19 10:30:00
2018-01-22 10:30:00
2018-01-23 10:30:00
2018-01-24 10:30:00
2018-01-25 10:30:00
2018-01-26 10:30:00
2018-01-29 10:30:00
2018-01-30 10:30:00
2018-01-31 10:30:00
2018-02-01 10:30:00
2018-02-02 10:30:00
2018-02-05 10:30:00
2018-02-06 10:30:00
2018-02-07 10:30:00
2018-02-08 10:30:00
2018-02-09 10:30:00
2018-02-12 10:30:00
2018-02-13 10:30:00
2018-02-14 10:30:00
2018-02-15 10:30:00
2018-02-16 10:30:00
2018-02-19 10:30:00
2018-02-20 10:30:00
2018-02-21 10:30:00
2018-02-22 10:30:00
2018-02-23 10:30:00
2018-02-26 10:30:00
2018-02-27 10:30:00
2018-02-28 10:30:00
2018-03-01 10:30:00
2018-03-02 10:30:00
2018-03-05 10:30:00
2018-03-06 10:30:00
2018-03-07 10:30:00
2018-03-08 10:30:00
2018-03-09 10:30:00
2018-03-12 10:30:00
2018-03-13 10:30:00
2018-03-14 10:30:00
2018-03-15 10:30:00
2018-03-16 10:30:00
2018-03-19 10:30:00
2018-03-20 10:30:00
2018-03-21 10:30:00
2018-03-22 10:30:00
2018-03-23 10:30:00
2018-03-26 10:30:00
2018-03-27 10:30:00
2018-03-28 10:30:00
2018-03-29 10:30:00
2018-03-30 10:30:00
2018-04-02 10:30:00
2018-04-03 10:30:00
2018-04-04 10:30:00
2018-04-05 10:30:00
2018-04-06 10:30:00
2018-04-09 10:30:00
2018-04-10 10:30:00
2018-04-11 10:30:00
2018-04-12 10:30:00
2018-04-13 10:30:00
2018-04-16 10:30:00
2018-04-17 10:30:00
2018-04-18 10:30:00
2018-04-19 10:30:00
2018-04-20 10:30:00
2018-04-23 10:30:00
2018-04-24 10:30:00
2018-04-25 10:30:00
2018-04-26 10:30:00
2018-04-27 10:30:00
2018-04-30 10:30:00
2018-05-01 10:30:00
2018-05-02 10:30:00
2018-05-03 10:30:00
2018-05-04 10:30:00
2018-05-07 10:30:00
2018-05-08 10:30:00
2018-05-09 10:30:00
2018-05-10 10:30:00
2018-05-11 10:30:00
2018-05-14 10:30:00
2018-05-15 10:30:00
2018-05-16 10:30:00
2018-05-17 10:30:00
2018-05-18 10:30:00
2018-05-21 10:30:00
2018-05-22 10:30:00
2018-05-23 10:30:00
2018-05-24 10:30:00
2018-05-25 10:30:00
2018-05-28 10:30:00
2018-05-29 10:30:00
2018-05-30 10:30:00
2018-05-31 10:30:00
2018-06-01 10:30:00
2018-06-04 10:30:00
2018-06-05 10:30:00
2018-06-06 10:30:00
2018-06-07 10:30:00
2018-06-08 10:30:00
2018-06-11 10:30:00
2018-06-12 10:30:00
2018-06-13 10:30:00
2018-06-14 10:30:00
2018-06-15 10:30:00
2018-06-18 10:30:00
2018-06-19 10:30:00
2018-06-20 10:30:00
2018-06-21 10:30:00
2018-06-22 10:30:00
2018-06-25 10:30:00
2018-06-26 10:30:00
2018-06-27 10:30:00
2018-06-28 10:30:00
2018-06-29 10:30:00
2018-07-02 10:30:00
2018-07-03 10:30:00
2018-07-04 10:30:00
2018-07-05 10:30:00
2018-07-06 10:30:00
2018-07-09 10:30:00
2018-07-10 10:30:00
2018-07-11 10:30:00
2018-07-12 10:30:00
2018-07-13 10:30:00
2018-07-16 10:30:00
2018-07-17 10:30:00
2018-07-18 10:30:00
2018-07-19 10:30:00
2018-07-20 10:30:00
2018-07-23 10:30:00
2018-07-24 10:30:00
2018-07-25 10:30:00
2018-07-26 10:30:00
2018-07-27 10:30:00
2018-07-30 10:30:00
2018-07-31 10:30:00
2018-08-01 10:30:00
2018-08-02 10:30:00
2018-08-03 10:30:00
2018-08-06 10:30:00
2018-08-07 10:30:00
2018-08-08 10:30:00
2018-08-09 10:30:00
2018-08-10 10:30:00
2018-08-13 10:30:00
2018-08-14 10:30:00
2018-08-15 10:30:00
2018-08-16 10:30:00
2018-08-17 10:30:00
2018-08-20 10:30:00
2018-08-21 10:30:00
2018-08-22 10:30:00
2018-08-23 10:30:00
2018-08-24 10:30:00
2018-08-27 10:30:00
2018-08-28 10:30:00
2018-08-29 10:30:00
2018-08-30 10:30:00
2018-08-31 10:30:00
2018-09-03 10:30:00
2018-09-04 10:30:00
2018-09-05 10:30:00
2018-09-06 10:30:00
2018-09-07 10:30:00
2018-09-10 10:30:00
2018-09-11 10:30:00
2018-09-12 10:30:00
2018-09-13 10:30:00
2018-09-14 10:30:00
2018-09-17 10:30:00
2018-09-18 10:30:00
2018-09-19 10:30:00
2018-09-20 10:30:00
2018-09-21 10:30:00
2018-09-24 10:30:00
2018-09-25 10:30:00
2018-09-26 10:30:00
2018-09-27 10:30:00
2018-09-28 10:30:00
2018-10-01 10:30:00
2018-10-02 10:30:00
2018-10-03 10:30:00
2018-10-04 10:30:00
2018-10-05 10:30:00
2018-10-08 10:30:00
2018-10-09 10:30:00
2018-10-10 10:30:00
2018-10-11 10:30:00
2018-10-12 10:30:00
2018-10-15 10:30:00
2018-10-16 10:30:00
2018-10-17 10:30:00
2018-10-18 10:30:00
2018-10-19 10:30:00
2018-10-22 10:30:00
2018-10-23 10:30:00
2018-10-24 10:30:00
2018-10-25 10:30:00
2018-10-26 10:30:00
2018-10-29 10:30:00
2018-10-30 10:30:00
2018-10-31 10:30:00
2018-11-01 10:30:00
2018-11-02 10:30:00
2018-11-05 10:30:00
2018-11-06 10:30:00
2018-11-07 10:30:00
2018-11-08 10:30:00
2018-11-09 10:30:00
2018-11-12 10:30:00
2018-11-13 10:30:00
2018-11-14 10:30:00
2018-11-15 10:30:00
2018-11-16 10:30:00
2018-11-19 10:30:00
2018-11-20 10:30:00
2018-11-21 10:30:00
2018-11-22 10:30:00
2018-11-23 10:30:00
2018-11-26 10:30:00
2018-11-27 10:30:00
2018-11-28 10:30:00
2018-11-29 10:30:00
2018-11-30 10:30:00
2018-12-03 10:30:00
2018-12-04 10:30:00
2018-12-05 10:30:00
2018-12-06 10:30:00
2018-12-07 10:30:00
2018-12-10 10:30:00
2018-12-11 10:30:00
2018-12-12 10:30:00
2018-12-13 10:30:00
2018-12-14 10:30:00
2018-12-17 10:30:00
2018-12-18 10:30:00
2018-12-19 10:30:00
2018-12-20 10:30:00
2018-12-21 10:30:00
2018-12-24 10:30:00
2018-12-26 10:30:00
2018-12-27 10:30:00
2018-12-28 10:30:00
2018-12-31 10:30:00

In [16]:
df_1030

                          date      val
datetime
2018-01-02 10:30:00 2018-01-02  1.35494
2018-01-03 10:30:00 2018-01-03  1.34995
2018-01-04 10:30:00 2018-01-04  1.35534
2018-01-05 10:30:00 2018-01-05  1.35622
2018-01-08 10:30:00 2018-01-08  1.35537
2018-01-09 10:30:00 2018-01-09  1.35157
2018-01-10 10:30:00 2018-01-10  1.35315
2018-01-11 10:30:00 2018-01-11  1.35334
2018-01-12 10:30:00 2018-01-12  1.36733
2018-01-15 10:30:00 2018-01-15  1.37839
2018-01-16 10:30:00 2018-01-16  1.37637
2018-01-17 10:30:00 2018-01-17  1.38047
2018-01-18 10:30:00 2018-01-18  1.38751
2018-01-19 10:30:00 2018-01-19  1.38640
2018-01-22 10:30:00 2018-01-22  1.39386
2018-01-23 10:30:00 2018-01-23  1.40138
2018-01-24 10:30:00 2018-01-24  1.42149
2018-01-25 10:30:00 2018-01-25  1.43019
2018-01-26 10:30:00 2018-01-26  1.41631
2018-01-29 10:30:00 2018-01-29  1.40836
2018-01-30 10:30:00 2018-01-30  1.41265
2018-01-31 10:30:00 2018-01-31  1.41962
2018-02-01 10:30:00 2018-02-01  1.42203
2018-02-02 10:30:00 2018-02-02  1.41291
2018-02-05 10:30:00 2018-02-05  1.40236
2018-02-06 10:30:00 2018-02-06  1.38596
2018-02-07 10:30:00 2018-02-07  1.39057
2018-02-08 10:30:00 2018-02-08  1.40125
2018-02-09 10:30:00 2018-02-09  1.38010
2018-02-12 10:30:00 2018-02-12  1.38067
...                        ...      ...
2018-11-19 10:30:00 2018-11-19  1.28593
2018-11-20 10:30:00 2018-11-20  1.28275
2018-11-21 10:30:00 2018-11-21  1.28069
2018-11-22 10:30:00 2018-11-22  1.28615
2018-11-23 10:30:00 2018-11-23  1.28248
2018-11-26 10:30:00 2018-11-26  1.28350
2018-11-27 10:30:00 2018-11-27  1.27535
2018-11-28 10:30:00 2018-11-28  1.27723
2018-11-29 10:30:00 2018-11-29  1.27779
2018-11-30 10:30:00 2018-11-30  1.27510
2018-12-03 10:30:00 2018-12-03  1.27294
2018-12-04 10:30:00 2018-12-04  1.27432
2018-12-05 10:30:00 2018-12-05  1.27275
2018-12-06 10:30:00 2018-12-06  1.27980
2018-12-07 10:30:00 2018-12-07  1.27334
2018-12-10 10:30:00 2018-12-10  1.26455
2018-12-11 10:30:00 2018-12-11  1.25560
2018-12-12 10:30:00 2018-12-12  1.26420
2018-12-13 10:30:00 2018-12-13  1.26256
2018-12-14 10:30:00 2018-12-14  1.25487
2018-12-17 10:30:00 2018-12-17  1.26081
2018-12-18 10:30:00 2018-12-18  1.26569
2018-12-19 10:30:00 2018-12-19  1.26686
2018-12-20 10:30:00 2018-12-20  1.26416
2018-12-21 10:30:00 2018-12-21  1.26465
2018-12-24 10:30:00 2018-12-24  1.27124
2018-12-26 10:30:00 2018-12-26  1.26907
2018-12-27 10:30:00 2018-12-27  1.26583
2018-12-28 10:30:00 2018-12-28  1.26818
2018-12-31 10:30:00 2018-12-31  1.28061

[259 rows x 2 columns]

### Note to self
- When accessing a dataframe through index, use `df.loc[idx]` to identify the row, use `df.loc[idx]['col_x']` to further locate a data

## Questions to investigate

For each day's 10:30 - 11:02 timeframe (we ignore data from the rest of the day), we analyze minutely data and their relationship with the 10:30 and 10:45 prices

1.  Find the max pip movement above and below the 10:30 and 10:45 prices within the timeframe.
2.  Find if the timeframe was long/short relative to 1) the 10:30 price, and 2) the 10:45 price; we achieve this by comparing the 11:02 price with the 10:30 and 10:45 prices, respectively. 
3. The average for distance moved for and against 10:30 and 10:45 entries

### Q1 Algorithm
Find the max pip movement above and below the 10:30 and 10:45 prices within the timeframe.
- First, isolate each day's data from 10:30 - 11:02 [DONE]
- First, store 10:30 and 10:45's price. [DONE]
- Iterate through each minute to find pip movement. Update pip if larger movement is found. 

```
datetime: {
    max_pip_1030: p
    max_pip_1045: q
}
```

In [19]:
mdf.columns

Index([u'date', u'val'], dtype='object')

In [32]:
max_pips = {}
current_date = 0
for index, row in mdf.iterrows():
    if index.date() != current_date:
        current_date = index.date()
        df_1030_idx = str(current_date) + " 10:30:00"
        df_1045_idx = str(current_date) + " 10:45:00"
        price_1030 = df_1030[df_1030_idx]['val']
        price_1045 = df_1045[df_1045_idx]['val']
        
#         print("today is " + str(current_date))
        print("the 1030 price is " + str(df_1030.loc[str(current_date) + " 10:30:00"]['val']))
#         print(current_date)
#     print(row['val'])
#         max_pips[current_date] = {}
#         max_pips[current_date]['max_pip_1030'] = 0
#         max_pips[current_date]['max_pip_1045'] = 0
#     cur_mvmt_1030 = row['val'] - df_1030[current_date]
#     print(cur_mvmt_1030)
# print(max_pips)

today is 2018-01-02
the 1030 price is 1.35494
today is 2018-01-03
the 1030 price is 1.34995
today is 2018-01-04
the 1030 price is 1.35534
today is 2018-01-05
the 1030 price is 1.35622
today is 2018-01-08
the 1030 price is 1.35537
today is 2018-01-09
the 1030 price is 1.3515700000000002
today is 2018-01-10
the 1030 price is 1.35315
today is 2018-01-11
the 1030 price is 1.35334
today is 2018-01-12
the 1030 price is 1.36733
today is 2018-01-15
the 1030 price is 1.37839
today is 2018-01-16
the 1030 price is 1.37637
today is 2018-01-17
the 1030 price is 1.38047
today is 2018-01-18
the 1030 price is 1.38751
today is 2018-01-19
the 1030 price is 1.3864
today is 2018-01-22
the 1030 price is 1.39386
today is 2018-01-23
the 1030 price is 1.4013799999999998
today is 2018-01-24
the 1030 price is 1.42149
today is 2018-01-25
the 1030 price is 1.43019
today is 2018-01-26
the 1030 price is 1.41631
today is 2018-01-29
the 1030 price is 1.40836
today is 2018-01-30
the 1030 price is 1.41265
today is 2018-01-31
the 1030 price is 1.41962
today is 2018-02-01
the 1030 price is 1.42203
today is 2018-02-02
the 1030 price is 1.41291
today is 2018-02-05
the 1030 price is 1.40236
today is 2018-02-06
the 1030 price is 1.38596
today is 2018-02-07
the 1030 price is 1.39057
today is 2018-02-08
the 1030 price is 1.40125
today is 2018-02-09
the 1030 price is 1.3801
today is 2018-02-12
the 1030 price is 1.38067
today is 2018-02-13
the 1030 price is 1.38937
today is 2018-02-14
the 1030 price is 1.38952
today is 2018-02-15
the 1030 price is 1.40657
today is 2018-02-16
the 1030 price is 1.40462
today is 2018-02-19
the 1030 price is 1.39815
today is 2018-02-20
the 1030 price is 1.39886
today is 2018-02-21
the 1030 price is 1.39713
today is 2018-02-22
the 1030 price is 1.3941299999999999
today is 2018-02-23
the 1030 price is 1.3990799999999999
today is 2018-02-26
the 1030 price is 1.39488
today is 2018-02-27
the 1030 price is 1.3904
today is 2018-02-28
the 1030 price is 1.37919
today is 2018-03-01
the 1030 price is 1.3729799999999999
today is 2018-03-02
the 1030 price is 1.3776899999999999
today is 2018-03-05
the 1030 price is 1.3814600000000001
today is 2018-03-06
the 1030 price is 1.38924
today is 2018-03-07
the 1030 price is 1.387
today is 2018-03-08
the 1030 price is 1.3858700000000002
today is 2018-03-09
the 1030 price is 1.38778
today is 2018-03-12
the 1030 price is 1.38809
today is 2018-03-13
the 1030 price is 1.39521
today is 2018-03-14
the 1030 price is 1.3959
today is 2018-03-15
the 1030 price is 1.39707
today is 2018-03-16
the 1030 price is 1.3928200000000002
today is 2018-03-19
the 1030 price is 1.4045
today is 2018-03-20
the 1030 price is 1.39942
today is 2018-03-21
the 1030 price is 1.40705
today is 2018-03-22
the 1030 price is 1.41157
today is 2018-03-23
the 1030 price is 1.41601
today is 2018-03-26
the 1030 price is 1.41991
today is 2018-03-27
the 1030 price is 1.4147299999999998
today is 2018-03-28
the 1030 price is 1.40955
today is 2018-03-29
the 1030 price is 1.40672
today is 2018-03-30
the 1030 price is 1.40365
today is 2018-04-02
the 1030 price is 1.4054200000000001
today is 2018-04-03
the 1030 price is 1.4036600000000001
today is 2018-04-04
the 1030 price is 1.40841
today is 2018-04-05
the 1030 price is 1.40145
today is 2018-04-06
the 1030 price is 1.40935
today is 2018-04-09
the 1030 price is 1.4142
today is 2018-04-10
the 1030 price is 1.41759
today is 2018-04-11
the 1030 price is 1.42048
today is 2018-04-12
the 1030 price is 1.42076
today is 2018-04-13
the 1030 price is 1.4252799999999999
today is 2018-04-16
the 1030 price is 1.43187
today is 2018-04-17
the 1030 price is 1.43095
today is 2018-04-18
the 1030 price is 1.42303
today is 2018-04-19
the 1030 price is 1.42317
today is 2018-04-20
the 1030 price is 1.4020299999999999
today is 2018-04-23
the 1030 price is 1.39549
today is 2018-04-24
the 1030 price is 1.39644
today is 2018-04-25
the 1030 price is 1.3929799999999999
today is 2018-04-26
the 1030 price is 1.39552
today is 2018-04-27
the 1030 price is 1.37781
today is 2018-04-30
the 1030 price is 1.37687
today is 2018-05-01
the 1030 price is 1.3623299999999998
today is 2018-05-02
the 1030 price is 1.36123
today is 2018-05-03
the 1030 price is 1.35772
today is 2018-05-04
the 1030 price is 1.3511799999999998
today is 2018-05-07
the 1030 price is 1.3561299999999998
today is 2018-05-08
the 1030 price is 1.34875
today is 2018-05-09
the 1030 price is 1.35762
today is 2018-05-10
the 1030 price is 1.34723
today is 2018-05-11
the 1030 price is 1.35671
today is 2018-05-14
the 1030 price is 1.3587200000000001
today is 2018-05-15
the 1030 price is 1.3477700000000001
today is 2018-05-16
the 1030 price is 1.34873
today is 2018-05-17
the 1030 price is 1.3504399999999999
today is 2018-05-18
the 1030 price is 1.34704
today is 2018-05-21
the 1030 price is 1.3414700000000002
today is 2018-05-22
the 1030 price is 1.3436700000000001
today is 2018-05-23
the 1030 price is 1.33571
today is 2018-05-24
the 1030 price is 1.3387799999999999
today is 2018-05-25
the 1030 price is 1.33136
today is 2018-05-28
the 1030 price is 1.33045
today is 2018-05-29
the 1030 price is 1.3282200000000002
today is 2018-05-30
the 1030 price is 1.32829
today is 2018-05-31
the 1030 price is 1.3321
today is 2018-06-01
the 1030 price is 1.33238
today is 2018-06-04
the 1030 price is 1.3353700000000002
today is 2018-06-05
the 1030 price is 1.33361
today is 2018-06-06
the 1030 price is 1.34273
today is 2018-06-07
the 1030 price is 1.33897
today is 2018-06-08
the 1030 price is 1.33881
today is 2018-06-11
the 1030 price is 1.33961
today is 2018-06-12
the 1030 price is 1.33638
today is 2018-06-13
the 1030 price is 1.33609
today is 2018-06-14
the 1030 price is 1.3315299999999999
today is 2018-06-15
the 1030 price is 1.32755
today is 2018-06-18
the 1030 price is 1.3239299999999998
today is 2018-06-19
the 1030 price is 1.31609
today is 2018-06-20
the 1030 price is 1.3176
today is 2018-06-21
the 1030 price is 1.32491
today is 2018-06-22
the 1030 price is 1.32552
today is 2018-06-25
the 1030 price is 1.3272
today is 2018-06-26
the 1030 price is 1.32305
today is 2018-06-27
the 1030 price is 1.31552
today is 2018-06-28
the 1030 price is 1.31008
today is 2018-06-29
the 1030 price is 1.31729
today is 2018-07-02
the 1030 price is 1.31043
today is 2018-07-03
the 1030 price is 1.3173
today is 2018-07-04
the 1030 price is 1.3220399999999999
today is 2018-07-05
the 1030 price is 1.32247
today is 2018-07-06
the 1030 price is 1.32713
today is 2018-07-09
the 1030 price is 1.3244799999999999
today is 2018-07-10
the 1030 price is 1.32738
today is 2018-07-11
the 1030 price is 1.32692
today is 2018-07-12
the 1030 price is 1.322
today is 2018-07-13
the 1030 price is 1.31828
today is 2018-07-16
the 1030 price is 1.32661
today is 2018-07-17
the 1030 price is 1.31574
today is 2018-07-18
the 1030 price is 1.30411
today is 2018-07-19
the 1030 price is 1.29959
today is 2018-07-20
the 1030 price is 1.3106200000000001
today is 2018-07-23
the 1030 price is 1.31085
today is 2018-07-24
the 1030 price is 1.31421
today is 2018-07-25
the 1030 price is 1.31433
today is 2018-07-26
the 1030 price is 1.31279
today is 2018-07-27
the 1030 price is 1.31185
today is 2018-07-30
the 1030 price is 1.3148799999999998
today is 2018-07-31
the 1030 price is 1.31303
today is 2018-08-01
the 1030 price is 1.3124799999999999
today is 2018-08-02
the 1030 price is 1.3039399999999999
today is 2018-08-03
the 1030 price is 1.3004
today is 2018-08-06
the 1030 price is 1.29496
today is 2018-08-07
the 1030 price is 1.29437
today is 2018-08-08
the 1030 price is 1.2871700000000001
today is 2018-08-09
the 1030 price is 1.28814
today is 2018-08-10
the 1030 price is 1.2762799999999999
today is 2018-08-13
the 1030 price is 1.27883
today is 2018-08-14
the 1030 price is 1.27694
today is 2018-08-15
the 1030 price is 1.26847
today is 2018-08-16
the 1030 price is 1.27291
today is 2018-08-17
the 1030 price is 1.27286
today is 2018-08-20
the 1030 price is 1.27718
today is 2018-08-21
the 1030 price is 1.28678
today is 2018-08-22
the 1030 price is 1.29129
today is 2018-08-23
the 1030 price is 1.28388
today is 2018-08-24
the 1030 price is 1.28557
today is 2018-08-27
the 1030 price is 1.28865
today is 2018-08-28
the 1030 price is 1.2883799999999999
today is 2018-08-29
the 1030 price is 1.2992299999999999
today is 2018-08-30
the 1030 price is 1.30132
today is 2018-08-31
the 1030 price is 1.29836
today is 2018-09-03
the 1030 price is 1.2873299999999999
today is 2018-09-04
the 1030 price is 1.28207
today is 2018-09-05
the 1030 price is 1.29672
today is 2018-09-06
the 1030 price is 1.2941200000000002
today is 2018-09-07
the 1030 price is 1.2964799999999999
today is 2018-09-10
the 1030 price is 1.30257
today is 2018-09-11
the 1030 price is 1.30008
today is 2018-09-12
the 1030 price is 1.3021200000000002
today is 2018-09-13
the 1030 price is 1.3102

today is 2018-09-14
the 1030 price is 1.30782
today is 2018-09-17
the 1030 price is 1.31484
today is 2018-09-18
the 1030 price is 1.31535
today is 2018-09-19
the 1030 price is 1.31418
today is 2018-09-20
the 1030 price is 1.32617
today is 2018-09-21
the 1030 price is 1.30835
today is 2018-09-24
the 1030 price is 1.3134299999999999
today is 2018-09-25
the 1030 price is 1.3158100000000001
today is 2018-09-26
the 1030 price is 1.31728
today is 2018-09-27
the 1030 price is 1.31346
today is 2018-09-28
the 1030 price is 1.30072
today is 2018-10-01
the 1030 price is 1.3065
today is 2018-10-02
the 1030 price is 1.29793
today is 2018-10-03
the 1030 price is 1.30176
today is 2018-10-04
the 1030 price is 1.30328
today is 2018-10-05
the 1030 price is 1.3077
today is 2018-10-08
the 1030 price is 1.30684
today is 2018-10-09
the 1030 price is 1.30916
today is 2018-10-10
the 1030 price is 1.31918
today is 2018-10-11
the 1030 price is 1.3224200000000002
today is 2018-10-12
the 1030 price is 1.31847
today is 2018-10-15
the 1030 price is 1.3136700000000001
today is 2018-10-16
the 1030 price is 1.32113
today is 2018-10-17
the 1030 price is 1.31349
today is 2018-10-18
the 1030 price is 1.30882
today is 2018-10-19
the 1030 price is 1.30471
today is 2018-10-22
the 1030 price is 1.2974
today is 2018-10-23
the 1030 price is 1.29793
today is 2018-10-24
the 1030 price is 1.29219
today is 2018-10-25
the 1030 price is 1.28283
today is 2018-10-26
the 1030 price is 1.28125
today is 2018-10-29
the 1030 price is 1.2807899999999999
today is 2018-10-30
the 1030 price is 1.27607
today is 2018-10-31
the 1030 price is 1.27741
today is 2018-11-01
the 1030 price is 1.2939
today is 2018-11-02
the 1030 price is 1.29965
today is 2018-11-05
the 1030 price is 1.30308
today is 2018-11-06
the 1030 price is 1.3078100000000001
today is 2018-11-07
the 1030 price is 1.3153700000000002
today is 2018-11-08
the 1030 price is 1.31164
today is 2018-11-09
the 1030 price is 1.30403
today is 2018-11-12
the 1030 price is 1.28896
today is 2018-11-13
the 1030 price is 1.29509
today is 2018-11-14
the 1030 price is 1.29775
today is 2018-11-15
the 1030 price is 1.27949
today is 2018-11-16
the 1030 price is 1.28535
today is 2018-11-19
the 1030 price is 1.28593
today is 2018-11-20
the 1030 price is 1.28275
today is 2018-11-21
the 1030 price is 1.2806899999999999
today is 2018-11-22
the 1030 price is 1.28615
today is 2018-11-23
the 1030 price is 1.2824799999999998
today is 2018-11-26
the 1030 price is 1.2835
today is 2018-11-27
the 1030 price is 1.27535
today is 2018-11-28
the 1030 price is 1.2772299999999999
today is 2018-11-29
the 1030 price is 1.27779
today is 2018-11-30
the 1030 price is 1.2751
today is 2018-12-03
the 1030 price is 1.27294
today is 2018-12-04
the 1030 price is 1.2743200000000001
today is 2018-12-05
the 1030 price is 1.27275
today is 2018-12-06
the 1030 price is 1.2798
today is 2018-12-07
the 1030 price is 1.27334
today is 2018-12-10
the 1030 price is 1.26455
today is 2018-12-11
the 1030 price is 1.2556
today is 2018-12-12
the 1030 price is 1.2642
today is 2018-12-13
the 1030 price is 1.2625600000000001
today is 2018-12-14
the 1030 price is 1.2548700000000002
today is 2018-12-17
the 1030 price is 1.26081
today is 2018-12-18
the 1030 price is 1.26569
today is 2018-12-19
the 1030 price is 1.26686
today is 2018-12-20
the 1030 price is 1.26416
today is 2018-12-21
the 1030 price is 1.26465
today is 2018-12-24
the 1030 price is 1.27124
today is 2018-12-26
the 1030 price is 1.2690700000000001
today is 2018-12-27
the 1030 price is 1.26583
today is 2018-12-28
the 1030 price is 1.2681799999999999
today is 2018-12-31
the 1030 price is 1.28061