In [1]:
import pandas as pd
import os

In [4]:
fpath = "GBPUSD_2018.csv"
data = pd.read_csv(fpath)

In [6]:
data

        2018.01.01  17:00  1.349850  1.349850.1  1.349850.2  1.349850.3  0
0       2018.01.01  17:02   1.35019     1.35019     1.35019     1.35019  0
1       2018.01.01  17:03   1.35020     1.35020     1.35020     1.35020  0
2       2018.01.01  17:05   1.35012     1.35012     1.35012     1.35012  0
3       2018.01.01  17:06   1.35013     1.35013     1.35013     1.35013  0
4       2018.01.01  17:07   1.35084     1.35084     1.35084     1.35084  0
5       2018.01.01  17:08   1.35092     1.35109     1.35092     1.35109  0
6       2018.01.01  17:09   1.35084     1.35084     1.35084     1.35084  0
7       2018.01.01  17:10   1.35085     1.35085     1.35085     1.35085  0
8       2018.01.01  17:11   1.35084     1.35084     1.35084     1.35084  0
9       2018.01.01  17:12   1.35071     1.35087     1.35071     1.35087  0
10      2018.01.01  17:14   1.35062     1.35062     1.35062     1.35062  0
11      2018.01.01  17:15   1.35115     1.35115     1.35099     1.35099  0
12      2018.01.01  17:16   1.35085     1.35087     1.35085     1.35087  0
13      2018.01.01  17:18   1.35109     1.35109     1.35106     1.35106  0
14      2018.01.01  17:19   1.35087     1.35087     1.35087     1.35087  0
15      2018.01.01  17:21   1.35109     1.35109     1.35109     1.35109  0
16      2018.01.01  17:22   1.35084     1.35084     1.35084     1.35084  0
17      2018.01.01  17:23   1.35087     1.35105     1.35087     1.35096  0
18      2018.01.01  17:24   1.35085     1.35087     1.35085     1.35087  0
19      2018.01.01  17:25   1.35078     1.35087     1.35078     1.35087  0
20      2018.01.01  17:26   1.35085     1.35085     1.35085     1.35085  0
21      2018.01.01  17:27   1.35086     1.35086     1.35085     1.35085  0
22      2018.01.01  17:30   1.35095     1.35099     1.35095     1.35099  0
23      2018.01.01  17:31   1.35097     1.35097     1.35084     1.35084  0
24      2018.01.01  17:32   1.35064     1.35064     1.35064     1.35064  0
25      2018.01.01  17:33   1.35084     1.35084     1.35084     1.35084  0
26      2018.01.01  17:36   1.35101     1.35102     1.35074     1.35074  0
27      2018.01.01  17:38   1.35064     1.35064     1.35063     1.35063  0
28      2018.01.01  17:39   1.35064     1.35076     1.35064     1.35076  0
29      2018.01.01  17:40   1.35094     1.35094     1.35094     1.35094  0
...            ...    ...       ...         ...         ...         ... ..
372230  2018.12.31  16:29   1.27511     1.27534     1.27501     1.27514  0
372231  2018.12.31  16:30   1.27513     1.27520     1.27508     1.27515  0
372232  2018.12.31  16:31   1.27520     1.27525     1.27484     1.27501  0
372233  2018.12.31  16:32   1.27499     1.27517     1.27487     1.27498  0
372234  2018.12.31  16:33   1.27501     1.27525     1.27495     1.27503  0
372235  2018.12.31  16:34   1.27503     1.27531     1.27502     1.27531  0
372236  2018.12.31  16:35   1.27527     1.27578     1.27524     1.27558  0
372237  2018.12.31  16:36   1.27554     1.27568     1.27551     1.27553  0
372238  2018.12.31  16:37   1.27550     1.27584     1.27550     1.27583  0
372239  2018.12.31  16:38   1.27583     1.27588     1.27571     1.27575  0
372240  2018.12.31  16:39   1.27578     1.27583     1.27566     1.27572  0
372241  2018.12.31  16:40   1.27571     1.27573     1.27571     1.27572  0
372242  2018.12.31  16:41   1.27573     1.27587     1.27573     1.27583  0
372243  2018.12.31  16:42   1.27583     1.27583     1.27582     1.27583  0
372244  2018.12.31  16:43   1.27582     1.27583     1.27562     1.27562  0
372245  2018.12.31  16:44   1.27562     1.27563     1.27542     1.27558  0
372246  2018.12.31  16:45   1.27558     1.27571     1.27544     1.27552  0
372247  2018.12.31  16:46   1.27553     1.27563     1.27553     1.27561  0
372248  2018.12.31  16:47   1.27561     1.27563     1.27543     1.27543  0
372249  2018.12.31  16:48   1.27542     1.27542     1.27523     1.27525  0
372250  2018.12.31  16:49   1.27525     1.27525     1.27514     1.27522  0
372251  2018.12.31  16:50   1.27521     1.27524     1.27473     1.27483  0
372252  2018.12.31  16:51   1.27483     1.27494     1.27473     1.27483  0
372253  2018.12.31  16:52   1.27483     1.27486     1.27454     1.27455  0
372254  2018.12.31  16:53   1.27456     1.27456     1.27444     1.27454  0
372255  2018.12.31  16:54   1.27460     1.27460     1.27452     1.27453  0
372256  2018.12.31  16:55   1.27456     1.27459     1.27437     1.27443  0
372257  2018.12.31  16:56   1.27450     1.27473     1.27449     1.27466  0
372258  2018.12.31  16:57   1.27474     1.27475     1.27467     1.27469  0
372259  2018.12.31  16:58   1.27469     1.27552     1.27469     1.27552  0

[372260 rows x 7 columns]