In [90]:
import pandas as pd
from datetime import datetime
import os

In [91]:
fpath = "GBPUSD_2018.csv"
df = pd.read_csv(fpath)

In [92]:
df.columns = ["date", "time", "val", "B", "C", "D", "E"]
df = df.drop(columns=['B', 'C', 'D', 'E'])

In [93]:
df.columns

Index([u'date', u'time', u'val'], dtype='object')

In [94]:
df['datetime'] = df["date"].map(str) + " " + df["time"]

In [98]:
df["datetime"] = pd.to_datetime(df["datetime"])
df["date"] = pd.to_datetime(df["date"])

In [99]:
df = df.set_index('datetime')

df[COL][INDEX]

In [95]:
df['date']['2018.01.01 17:02']

KeyError: '2018.01.01 17:02'

In [96]:
df

              date   time      val          datetime
0       2018.01.01  17:02  1.35019  2018.01.01 17:02
1       2018.01.01  17:03  1.35020  2018.01.01 17:03
2       2018.01.01  17:05  1.35012  2018.01.01 17:05
3       2018.01.01  17:06  1.35013  2018.01.01 17:06
4       2018.01.01  17:07  1.35084  2018.01.01 17:07
5       2018.01.01  17:08  1.35092  2018.01.01 17:08
6       2018.01.01  17:09  1.35084  2018.01.01 17:09
7       2018.01.01  17:10  1.35085  2018.01.01 17:10
8       2018.01.01  17:11  1.35084  2018.01.01 17:11
9       2018.01.01  17:12  1.35071  2018.01.01 17:12
10      2018.01.01  17:14  1.35062  2018.01.01 17:14
11      2018.01.01  17:15  1.35115  2018.01.01 17:15
12      2018.01.01  17:16  1.35085  2018.01.01 17:16
13      2018.01.01  17:18  1.35109  2018.01.01 17:18
14      2018.01.01  17:19  1.35087  2018.01.01 17:19
15      2018.01.01  17:21  1.35109  2018.01.01 17:21
16      2018.01.01  17:22  1.35084  2018.01.01 17:22
17      2018.01.01  17:23  1.35087  2018.01.01 17:23
18      2018.01.01  17:24  1.35085  2018.01.01 17:24
19      2018.01.01  17:25  1.35078  2018.01.01 17:25
20      2018.01.01  17:26  1.35085  2018.01.01 17:26
21      2018.01.01  17:27  1.35086  2018.01.01 17:27
22      2018.01.01  17:30  1.35095  2018.01.01 17:30
23      2018.01.01  17:31  1.35097  2018.01.01 17:31
24      2018.01.01  17:32  1.35064  2018.01.01 17:32
25      2018.01.01  17:33  1.35084  2018.01.01 17:33
26      2018.01.01  17:36  1.35101  2018.01.01 17:36
27      2018.01.01  17:38  1.35064  2018.01.01 17:38
28      2018.01.01  17:39  1.35064  2018.01.01 17:39
29      2018.01.01  17:40  1.35094  2018.01.01 17:40
...            ...    ...      ...               ...
372230  2018.12.31  16:29  1.27511  2018.12.31 16:29
372231  2018.12.31  16:30  1.27513  2018.12.31 16:30
372232  2018.12.31  16:31  1.27520  2018.12.31 16:31
372233  2018.12.31  16:32  1.27499  2018.12.31 16:32
372234  2018.12.31  16:33  1.27501  2018.12.31 16:33
372235  2018.12.31  16:34  1.27503  2018.12.31 16:34
372236  2018.12.31  16:35  1.27527  2018.12.31 16:35
372237  2018.12.31  16:36  1.27554  2018.12.31 16:36
372238  2018.12.31  16:37  1.27550  2018.12.31 16:37
372239  2018.12.31  16:38  1.27583  2018.12.31 16:38
372240  2018.12.31  16:39  1.27578  2018.12.31 16:39
372241  2018.12.31  16:40  1.27571  2018.12.31 16:40
372242  2018.12.31  16:41  1.27573  2018.12.31 16:41
372243  2018.12.31  16:42  1.27583  2018.12.31 16:42
372244  2018.12.31  16:43  1.27582  2018.12.31 16:43
372245  2018.12.31  16:44  1.27562  2018.12.31 16:44
372246  2018.12.31  16:45  1.27558  2018.12.31 16:45
372247  2018.12.31  16:46  1.27553  2018.12.31 16:46
372248  2018.12.31  16:47  1.27561  2018.12.31 16:47
372249  2018.12.31  16:48  1.27542  2018.12.31 16:48
372250  2018.12.31  16:49  1.27525  2018.12.31 16:49
372251  2018.12.31  16:50  1.27521  2018.12.31 16:50
372252  2018.12.31  16:51  1.27483  2018.12.31 16:51
372253  2018.12.31  16:52  1.27483  2018.12.31 16:52
372254  2018.12.31  16:53  1.27456  2018.12.31 16:53
372255  2018.12.31  16:54  1.27460  2018.12.31 16:54
372256  2018.12.31  16:55  1.27456  2018.12.31 16:55
372257  2018.12.31  16:56  1.27450  2018.12.31 16:56
372258  2018.12.31  16:57  1.27474  2018.12.31 16:57
372259  2018.12.31  16:58  1.27469  2018.12.31 16:58

[372260 rows x 4 columns]

In [101]:
df = df[['date', 'time', 'val']]
df = df.drop(columns=['time'])

In [102]:
df

                          date      val
datetime
2018-01-01 17:02:00 2018-01-01  1.35019
2018-01-01 17:03:00 2018-01-01  1.35020
2018-01-01 17:05:00 2018-01-01  1.35012
2018-01-01 17:06:00 2018-01-01  1.35013
2018-01-01 17:07:00 2018-01-01  1.35084
2018-01-01 17:08:00 2018-01-01  1.35092
2018-01-01 17:09:00 2018-01-01  1.35084
2018-01-01 17:10:00 2018-01-01  1.35085
2018-01-01 17:11:00 2018-01-01  1.35084
2018-01-01 17:12:00 2018-01-01  1.35071
2018-01-01 17:14:00 2018-01-01  1.35062
2018-01-01 17:15:00 2018-01-01  1.35115
2018-01-01 17:16:00 2018-01-01  1.35085
2018-01-01 17:18:00 2018-01-01  1.35109
2018-01-01 17:19:00 2018-01-01  1.35087
2018-01-01 17:21:00 2018-01-01  1.35109
2018-01-01 17:22:00 2018-01-01  1.35084
2018-01-01 17:23:00 2018-01-01  1.35087
2018-01-01 17:24:00 2018-01-01  1.35085
2018-01-01 17:25:00 2018-01-01  1.35078
2018-01-01 17:26:00 2018-01-01  1.35085
2018-01-01 17:27:00 2018-01-01  1.35086
2018-01-01 17:30:00 2018-01-01  1.35095
2018-01-01 17:31:00 2018-01-01  1.35097
2018-01-01 17:32:00 2018-01-01  1.35064
2018-01-01 17:33:00 2018-01-01  1.35084
2018-01-01 17:36:00 2018-01-01  1.35101
2018-01-01 17:38:00 2018-01-01  1.35064
2018-01-01 17:39:00 2018-01-01  1.35064
2018-01-01 17:40:00 2018-01-01  1.35094
...                        ...      ...
2018-12-31 16:29:00 2018-12-31  1.27511
2018-12-31 16:30:00 2018-12-31  1.27513
2018-12-31 16:31:00 2018-12-31  1.27520
2018-12-31 16:32:00 2018-12-31  1.27499
2018-12-31 16:33:00 2018-12-31  1.27501
2018-12-31 16:34:00 2018-12-31  1.27503
2018-12-31 16:35:00 2018-12-31  1.27527
2018-12-31 16:36:00 2018-12-31  1.27554
2018-12-31 16:37:00 2018-12-31  1.27550
2018-12-31 16:38:00 2018-12-31  1.27583
2018-12-31 16:39:00 2018-12-31  1.27578
2018-12-31 16:40:00 2018-12-31  1.27571
2018-12-31 16:41:00 2018-12-31  1.27573
2018-12-31 16:42:00 2018-12-31  1.27583
2018-12-31 16:43:00 2018-12-31  1.27582
2018-12-31 16:44:00 2018-12-31  1.27562
2018-12-31 16:45:00 2018-12-31  1.27558
2018-12-31 16:46:00 2018-12-31  1.27553
2018-12-31 16:47:00 2018-12-31  1.27561
2018-12-31 16:48:00 2018-12-31  1.27542
2018-12-31 16:49:00 2018-12-31  1.27525
2018-12-31 16:50:00 2018-12-31  1.27521
2018-12-31 16:51:00 2018-12-31  1.27483
2018-12-31 16:52:00 2018-12-31  1.27483
2018-12-31 16:53:00 2018-12-31  1.27456
2018-12-31 16:54:00 2018-12-31  1.27460
2018-12-31 16:55:00 2018-12-31  1.27456
2018-12-31 16:56:00 2018-12-31  1.27450
2018-12-31 16:57:00 2018-12-31  1.27474
2018-12-31 16:58:00 2018-12-31  1.27469

[372260 rows x 2 columns]

In [103]:
mdf = df.between_time('10:30', '11:02')
mdf

                          date      val
datetime
2018-01-02 10:30:00 2018-01-02  1.35494
2018-01-02 10:31:00 2018-01-02  1.35473
2018-01-02 10:32:00 2018-01-02  1.35473
2018-01-02 10:33:00 2018-01-02  1.35465
2018-01-02 10:34:00 2018-01-02  1.35465
2018-01-02 10:35:00 2018-01-02  1.35473
2018-01-02 10:36:00 2018-01-02  1.35508
2018-01-02 10:37:00 2018-01-02  1.35519
2018-01-02 10:38:00 2018-01-02  1.35535
2018-01-02 10:39:00 2018-01-02  1.35561
2018-01-02 10:40:00 2018-01-02  1.35576
2018-01-02 10:41:00 2018-01-02  1.35598
2018-01-02 10:42:00 2018-01-02  1.35598
2018-01-02 10:43:00 2018-01-02  1.35563
2018-01-02 10:44:00 2018-01-02  1.35576
2018-01-02 10:45:00 2018-01-02  1.35583
2018-01-02 10:46:00 2018-01-02  1.35623
2018-01-02 10:47:00 2018-01-02  1.35641
2018-01-02 10:48:00 2018-01-02  1.35621
2018-01-02 10:49:00 2018-01-02  1.35616
2018-01-02 10:50:00 2018-01-02  1.35603
2018-01-02 10:51:00 2018-01-02  1.35622
2018-01-02 10:52:00 2018-01-02  1.35643
2018-01-02 10:53:00 2018-01-02  1.35646
2018-01-02 10:54:00 2018-01-02  1.35658
2018-01-02 10:55:00 2018-01-02  1.35695
2018-01-02 10:56:00 2018-01-02  1.35702
2018-01-02 10:57:00 2018-01-02  1.35733
2018-01-02 10:58:00 2018-01-02  1.35774
2018-01-02 10:59:00 2018-01-02  1.35809
...                        ...      ...
2018-12-31 10:33:00 2018-12-31  1.28102
2018-12-31 10:34:00 2018-12-31  1.28061
2018-12-31 10:35:00 2018-12-31  1.28056
2018-12-31 10:36:00 2018-12-31  1.28036
2018-12-31 10:37:00 2018-12-31  1.27908
2018-12-31 10:38:00 2018-12-31  1.27805
2018-12-31 10:39:00 2018-12-31  1.27847
2018-12-31 10:40:00 2018-12-31  1.27855
2018-12-31 10:41:00 2018-12-31  1.27861
2018-12-31 10:42:00 2018-12-31  1.27881
2018-12-31 10:43:00 2018-12-31  1.27841
2018-12-31 10:44:00 2018-12-31  1.27808
2018-12-31 10:45:00 2018-12-31  1.27862
2018-12-31 10:46:00 2018-12-31  1.27882
2018-12-31 10:47:00 2018-12-31  1.27867
2018-12-31 10:48:00 2018-12-31  1.27854
2018-12-31 10:49:00 2018-12-31  1.27817
2018-12-31 10:50:00 2018-12-31  1.27813
2018-12-31 10:51:00 2018-12-31  1.27824
2018-12-31 10:52:00 2018-12-31  1.27826
2018-12-31 10:53:00 2018-12-31  1.27862
2018-12-31 10:54:00 2018-12-31  1.27927
2018-12-31 10:55:00 2018-12-31  1.27773
2018-12-31 10:56:00 2018-12-31  1.27668
2018-12-31 10:57:00 2018-12-31  1.27627
2018-12-31 10:58:00 2018-12-31  1.27435
2018-12-31 10:59:00 2018-12-31  1.27450
2018-12-31 11:00:00 2018-12-31  1.27376
2018-12-31 11:01:00 2018-12-31  1.27212
2018-12-31 11:02:00 2018-12-31  1.27327

[8547 rows x 2 columns]

In [104]:
df_1030 = df.between_time('10:30', '10:30')
df_1045 = df.between_time('10:45', '10:45')

In [105]:
df_1030

                          date      val
datetime
2018-01-02 10:30:00 2018-01-02  1.35494
2018-01-03 10:30:00 2018-01-03  1.34995
2018-01-04 10:30:00 2018-01-04  1.35534
2018-01-05 10:30:00 2018-01-05  1.35622
2018-01-08 10:30:00 2018-01-08  1.35537
2018-01-09 10:30:00 2018-01-09  1.35157
2018-01-10 10:30:00 2018-01-10  1.35315
2018-01-11 10:30:00 2018-01-11  1.35334
2018-01-12 10:30:00 2018-01-12  1.36733
2018-01-15 10:30:00 2018-01-15  1.37839
2018-01-16 10:30:00 2018-01-16  1.37637
2018-01-17 10:30:00 2018-01-17  1.38047
2018-01-18 10:30:00 2018-01-18  1.38751
2018-01-19 10:30:00 2018-01-19  1.38640
2018-01-22 10:30:00 2018-01-22  1.39386
2018-01-23 10:30:00 2018-01-23  1.40138
2018-01-24 10:30:00 2018-01-24  1.42149
2018-01-25 10:30:00 2018-01-25  1.43019
2018-01-26 10:30:00 2018-01-26  1.41631
2018-01-29 10:30:00 2018-01-29  1.40836
2018-01-30 10:30:00 2018-01-30  1.41265
2018-01-31 10:30:00 2018-01-31  1.41962
2018-02-01 10:30:00 2018-02-01  1.42203
2018-02-02 10:30:00 2018-02-02  1.41291
2018-02-05 10:30:00 2018-02-05  1.40236
2018-02-06 10:30:00 2018-02-06  1.38596
2018-02-07 10:30:00 2018-02-07  1.39057
2018-02-08 10:30:00 2018-02-08  1.40125
2018-02-09 10:30:00 2018-02-09  1.38010
2018-02-12 10:30:00 2018-02-12  1.38067
...                        ...      ...
2018-11-19 10:30:00 2018-11-19  1.28593
2018-11-20 10:30:00 2018-11-20  1.28275
2018-11-21 10:30:00 2018-11-21  1.28069
2018-11-22 10:30:00 2018-11-22  1.28615
2018-11-23 10:30:00 2018-11-23  1.28248
2018-11-26 10:30:00 2018-11-26  1.28350
2018-11-27 10:30:00 2018-11-27  1.27535
2018-11-28 10:30:00 2018-11-28  1.27723
2018-11-29 10:30:00 2018-11-29  1.27779
2018-11-30 10:30:00 2018-11-30  1.27510
2018-12-03 10:30:00 2018-12-03  1.27294
2018-12-04 10:30:00 2018-12-04  1.27432
2018-12-05 10:30:00 2018-12-05  1.27275
2018-12-06 10:30:00 2018-12-06  1.27980
2018-12-07 10:30:00 2018-12-07  1.27334
2018-12-10 10:30:00 2018-12-10  1.26455
2018-12-11 10:30:00 2018-12-11  1.25560
2018-12-12 10:30:00 2018-12-12  1.26420
2018-12-13 10:30:00 2018-12-13  1.26256
2018-12-14 10:30:00 2018-12-14  1.25487
2018-12-17 10:30:00 2018-12-17  1.26081
2018-12-18 10:30:00 2018-12-18  1.26569
2018-12-19 10:30:00 2018-12-19  1.26686
2018-12-20 10:30:00 2018-12-20  1.26416
2018-12-21 10:30:00 2018-12-21  1.26465
2018-12-24 10:30:00 2018-12-24  1.27124
2018-12-26 10:30:00 2018-12-26  1.26907
2018-12-27 10:30:00 2018-12-27  1.26583
2018-12-28 10:30:00 2018-12-28  1.26818
2018-12-31 10:30:00 2018-12-31  1.28061

[259 rows x 2 columns]

## Questions to investigate

For each day's 10:30 - 11:02 timeframe (we ignore data from the rest of the day), we analyze minutely data and their relationship with the 10:30 and 10:45 prices

1.  Find the max pip movement above and below the 10:30 and 10:45 prices within the timeframe.
2.  Find if the timeframe was long/short relative to 1) the 10:30 price, and 2) the 10:45 price; we achieve this by comparing the 11:02 price with the 10:30 and 10:45 prices, respectively. 
3. The average for distance moved for and against 10:30 and 10:45 entries

### Q1 Algorithm
Find the max pip movement above and below the 10:30 and 10:45 prices within the timeframe.
- For each day, isolate 10:30 - 11:02's data
- First, store 10:30 and 10:45's price. 
- Iterate through each minute to find pip movement. Update pip if larger movement is found. 

```
datetime: {
    max_pip_1030: p
    max_pip_1045: q
}
```

In [65]:
mdf.columns

Index([u'date', u'val'], dtype='object')

In [64]:
max_pips = {}
current_date = 0
for index, row in mdf.iterrows():
    if index.date() != current_date: 
        current_date = index.date()
        max_pips[current_date] = {}
        max_pips[current_date]['max_pip_1030'] = 0
        max_pips[current_date]['max_pip_1045'] = 0
    cur_mvmt_1030 = row['val'] - df_1030[current_date]
    print(cur_mvmt_1030)
#     if abs(cur_mvmt_1030) > max_pips[current_date]['max_pip_1030']:
#         max_pips[current_date]['max_pip_1030'] = cur_mvmt_1030
#     if index.date != current_date:
#         current_date = index.date
#         max_pips[current_date] = {}
#         max_pips[current_date]['max_pip_1030'] = 0
#         max_pips[current_date]['max_pip_1045'] = 0
#     cur_mvmt_1030 = row['val'] - df_1030[current_date]
#     if abs(cur_mvmt_1030) > max_pips[current_date]['max_pip_1030']:
print(max_pips)

KeyError: datetime.date(2018, 1, 2)